.input {
  width: 100%;
  padding: var(--spacing-sm);

  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);

  background: var(--color-surface);
  color: var(--color-text);

  outline: none;
  transition: var(--transition);
}

.input:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(var(--color-active-rgb), 0.15);
}
